/*!
Theme Name: Starter Theme
Theme URI: https://github.com/jonnyjames/starter-theme
Author: Jonny James Web Development
Author URI: http://jonnyjames.com/
Description: This is a clean WordPress starter theme based on Zoe Rooney's Neatly Polished Starter Theme course. It is intended to be used as a starting point for other WordPress themes, it is not meant to be a stand-alone theme in itself.
Version: 0.1
License: The MIT License (MIT)
License URI: http://opensource.org/licenses/MIT
Text Domain: starter-theme
*/

background {
	color: black;
}

/* FONTS
-------------------------- */
/* Uncomment/use this file if you install any custom fonts
 @import "fonts/all";*/

/* RESET & BASE
------------------ */
@import "reset";
@import "mixins";
@import "base";

/* =LAYOUTS
------------------ */
@import "layout";
@import "header";
@import "nav";
@import "footer";

/* =CONTENT
------------------ */
@import "typography";
@import "forms";

/* =COMPONENTS
------------------ */
/* Includes password protection for pages and posts, 404 page */
@import "components";

/* =PROJECT PAGES SPECIFIC
------------------ */
@import "content";
@import "pages/all";

/* =BLOG SPECIFIC
------------------ */
@import "blog/all";

/* Blog Styles */

@import "blog/paging";
@import "blog/widgets";
@import "blog/comments";
@import "blog/content";
@import "blog/comment_form";

/* Fonts (copied as commented out from scss/fonts/_all.scss)
 @import "fontname";*/

 // Pages (copied as commented out from scss/pages/_all.scss)
 /* Uncomment if you have a custom home page
@import "home"; */
 .page-link {
	clear: both;
	display: block;
	margin: 0 0 1.5em;
	span {
		margin-right: 6px;
	}
}

