//page-press.php styling
@import "press";

.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.5em;
	span {
		margin-right: 6px;
	}
}

/* Uncomment if you have a custom home page
@import "home";*/